@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
  }

  p, span, label, input {
    font-family: 'Poppins', sans-serif;
  }
}
